# adapted from https://dev.to/brandonwallace/deploy-flask-the-easy-way-with-gunicorn-and-nginx-jgc 
[Unit]
Description=Gunicorn Flask Application
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=root
Type=simple

# the start.sh bash script is the core of the service, as it contains the 
# Gunicorn command the runs the Flask apps
# exact location of this script isn't important but the correct path needs to be provided here
ExecStart=/var/www/flask/sabio/start.sh

TimeoutSec=30
Restart=on-failure
RestartSec=15
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
